# dependencies
/node_modules

# misc
.DS_Store
.env.*

# IDE
/.idea
/.vscode

# git
/git.json

# builders
/keystore
/keystore_dev
/keystore_testnet
/keystore_mainnet
/artifacts
/cache
/typechain-types
/dist
/*.tar
/*.tar.gz
/conf_dev
/conf_testnet
/conf_mainnet
/flattened
